import type { Meta, StoryObj } from '@storybook/angular';
import { <%= className %> } from './<%= fileName %>';

const meta: Meta<<%= className %>> = {
  component: <%= className %>,
  title: '<%= className %>',
};
export default meta;
type Story = StoryObj<<%= className %>>;

export const Primary: Story = {
  args: {},
};
